body {
    margin: 0;
    background-color: #F8FAFD;
}

.page {

    font-family: Arial, sans-serif;
    margin: 0;
    display: block;
    /*flex-direction: column;*/
    /*align-items: center;*/
}

.promo-banner {
    /*width: 1920;*/
    /*max-height: 60px;*/
    padding: 19.5px 16px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    background: linear-gradient(90deg, #FFCC80 0%, #FF6F61 100%);
    box-shadow: 0px 2px 16px 0px #FF6F6126;

    font-weight: 700;
    font-size: 17.46px;
    line-height: 100%;
    letter-spacing: 0.18px;
    vertical-align: middle;
    color: #FFFFFF;
    text-align: center;
    position: sticky;
    top: 0;
}

.badge {
    width: 101px;
    height: 27px;
    padding: 5px 18px 6px 13px;
    border-radius: 24px;
    background: #FFF6E5;
    box-shadow: 0px 2px 8px 0px #FF634717;

    font-weight: 700;
    font-size: 14.22px;
    line-height: 100%;
    letter-spacing: 0.18px;
    vertical-align: middle;
    color: #FF3B30;

    margin-right: 14px;
}

.content {
    max-width: 1200px;
    /*margin: 0 auto;*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20px;
    margin-top: 28px;
    margin-right: auto;
    margin-left: auto;
}

h1 {
    left: 20px;
}

p {
    font-weight: 400;
    font-size: 17.76px;
    line-height: 30.46px;
    letter-spacing: 0;
    vertical-align: middle;
    color: #222222;
    margin: 0;
}